.accordion {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    cursor: pointer;
    font-weight: bold;
  }
  
  .accordion-title {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .accordion-content {
    border:.5px solid #ccc;
    padding: 10px;
    max-height: fit-content;
  }
  
  
  .accordion-content p {
    margin: 0;
  }
  