.accordion-parent{
  width: 100%;
}
.accordion {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 48px;
    background-color: #242961;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
  }
  
  .accordion-title {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .accordion-content {
    position: inherit;
    border:.5px solid #ccc;
    padding: 10px;
    width: 98%;
    word-wrap: break-word;
    font-weight: 600;
    font-size: 32;
  }