.faq{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    margin:48px
}

.faq-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for large screens */
    grid-gap: 20px; /* Gap between the accordion items */
  }
  
  @media (max-width: 768px) {
    .faq-list {
      grid-template-columns: 1fr; /* Single column for small screens */
    }
  }
  