.mentors{
    display: flex;
    flex-direction: column;
    gap:48px;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.mentors-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:32px;
  }
  
  