.main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .partners-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; 
  }
  
  .partner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }
  
  .title-main {
    margin: 20px 0;
    font-size: 48px;
    font-weight: bold;
  }
  
  .description {
    margin-bottom: 20px;
    max-width: 800px;
    padding: 0 40px;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px; 
    border: 1px dashed;
  }
  