a {
  color: white;
}


.navigation {
  position: sticky;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: #1F2334;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

}

.brand-name {
  text-decoration: none;
  color: #F3F3F3;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.hamburger {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #f3f3f3;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #6ae58e;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: #1F2334;
    border-top: 1px solid black;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    width: 100%;
    padding: 1.5rem 0;
  }

}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    display: none;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}