.app-container {
  overflow-x: hidden; 
  height: 100vh;  
}

.content-wrapper {
  display: flex; 
  overflow-x: auto; 
  scroll-behavior: smooth; 
  width: 100%;
  transition: transform 0.5s ease; 
  flex-direction: column;
  gap: 32px;
}

.content-wrapper > * {
  flex-shrink: 0; 
  width: 100%;
  min-width: 100vw;
}


.component {
  margin-right: 20px;
  padding: 20px;
}

.topbar {
  background-color: #f2f2f2;
  height: 60px;
}

.main-content {
  background-color: #fff;
  height: 100vh;
}

.judge-panel {
  background-color: #f9f9f9;
  height: 100vh;
}

.prizepool {
  background-color: #f2f2f2;
  height: 100vh;
}

.rules {
  background-color: #eaeaea;
  height: 100vh;
}

.faqs {
  background-color: #f2f2f2;
  height: 100vh;
}
