@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #23263A;
  color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: transform 0.5s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #f3f3f3;
}

button {
  padding: 8px 32px;
  background-color: #1A1C2A;
  border: 2px solid #13E48D;
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #13E48D;
}